*{
  margin: 0;
  padding: 0;
}

.empty-cart {
  /* border: 2px solid blue; */
  width: 100%;
  max-width: 520px;
  margin: 2rem auto;
  text-align: center;
  padding-bottom: 20px; 
}

.img-fluid {
  width: 68%;
  opacity: 0.5;
}

.empty-cart p {
  margin-bottom: 30px;
}
.empty-cart button {
  border: none;
  border-radius: 7px;
  background: #0360be;
  padding: 12px 10px;
  color: rgb(250, 248, 248);
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.empty-cart button:hover {
  background-color: black;
  color: #fff;
}